<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>

        <tr>
            <th> id</th>
            <th>project title</th>
            <th> project description</th>
            <th> project start date</th>
            <th> project due date</th>
            
        </tr>
        <% projects.forEach(project => { %>
           <tr> 
            <td><%= project.id %> </td>
            <td><%= project.project_title %></td>
            <td><%= project.project_description%></td>
            <td><%= project.project_start_dt%></td>
            <td><%= project.project_due_dt %></td>
            
        </tr>
       <% });  %>  
        
          
<!-- grim teach -->
    </table>
    
</body>
</html>